{% extends 'main.html' %}
{% load static%}

{% block content %}

<head>
    <style>
        .box {
            border: 5px solid black;
        }
    </style>
</head>
<div class=" box jumbotron container">
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <h3 id="form-title">APPLY</h3>
                </div>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        {{form.as_table}}
                    </table>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn login_btn btn-info" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}